.claude/**
.gitignore
tsconfig.json
src/**
out/test/**
out/**/*.map
node_modules/**
!node_modules/fast-xml-parser/**
!node_modules/strnum/**
*.vsix
helper/bin/**
helper/obj/**
.github/**
helper-static/bin/**
helper-static/obj/**
helper-hotpatch/bin/**
helper-hotpatch/obj/**
